{% extends "base.html.twig" %}

{% block title %}Contactos
{% endblock %}
{% block body %}
	{% if app.user %}
		<div class="mb-3" style="float: right;">
			Eres {{ app.user.userIdentifier }}
			<button>
				<a href="{{ path('app_logout') }}" style="text-decoration: none; color: black;">Logout</a>
			</button>
		</div>
		<h1>Ficha del contacto</h1>
		{% if contacto %}
			{{ include ("partials/datos_contacto.html.twig", {'contacto': contacto}) }}
			<button>
				<a href="../contactos" style="text-decoration: none; color: black;">Volver</a>
			</button>
		{% else %}
			<p>Contacto no encontrado</p>
		{% endif %}
	{% else %}
		Registrese porfavor<button>
			<a href="{{ path('app_login') }}" style="text-decoration: none; color: black;">Login</a>
		</button>
	{% endif %}

{% endblock %}
